* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,700;1,400&display=swap");

/*BODY*/

body {
  font-family: font-family, "Be Vietnam Pro", sans-serif;
  background-color: #de8efa;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  /*overflow: hidden;*/
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*HEADER*/
header {
  background-color: #a400db;
  padding: 0.5 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

/*.container_nav {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 20vh;
  background-color: #a400db;
}*/

/*.row_nav {
  display: flex;
  flex-direction: row;
  justify-content: end
  align-items: center;
}*/

/*.imagenNav {
  align-self: initial;
  /*align-content: flex-start;
  display: inline;/*
}
*/
.img__logo {
  width: 150px;
  height: 100px;
  margin: 0;
  align-self: right;
  background-color: transparent;
}
.nav_list {
  list-style: none;
  display: flex;
}

.nav_link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link:hover,
.nav_link:focus {
  opacity: 0.65;
}

.nav_item {
  margin: 0 0 0 1.5rem;
  text-decoration: none;
  color: #000;
}

/*MAIN*/

/*.container_main {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  min-height: 80vh;
  max-width: 1200px;
  background-color: #de8efa;
}*/

.flex_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
}

.tituloPrincipal {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

.flex_row-main {
  display: flex;
  flex-direction: row;
}

.row_main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*width: 30%;*/
  align-content: center;
}
.img_main_left {
  width: 300px;
  height: 300px;
  margin: 1rem;
  background-size: cover;
}

/*.img_main_left:hover :first-child {
  background-size: 500px;
}*/

.row_main-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  /*width: 40%;*/
}

.main_reseña {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.main_tituloReceta {
  margin-bottom: 1.5rem;
  align-self: initial;
}

.main_receta {
  align-content: center;
}

.row_main-right {
  width: 30vw;
  /* overflow: hidden;*/
  /* align-content: center;
  text-align: center;
  align-self: flex-end;
  padding-left: 3rem;*/
}

/*.video_main {
  width: 100px;
  height: 100px;
}*/

iframe {
  width: 200px;
  height: 200px;
  background-size: cover;
  padding: 0;
}

/*FOOTER*/

.col {
  width: 100%;
  align-content: center;
}

.footer {
  padding-top: 1rem;
  background-color: #2e1330;
  text-align: center;
  align-content: center;
}

.footer-botton {
  padding: 1.5rem 0.5rem;
}

.footer-botton__copyright {
  text-align: center;
  color: #de8efa;
  font-weight: 400;
}

.footer-botton__copyright a {
  color: #de8efa;
  text-decoration: none;
}

.footer-botton__copyright a:hover {
  color: aqua;
  text-decoration: underline;
}

/**CSS--RECETAS*/

/*RECETAS*/

.titulo-Recetas {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 50px;

  /*.container_recetas {
  background-color: #de8efa;
}

.flex_recetas-col {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;*/
}

.titulos-food {
  margin: 2rem 1rem 1rem 1.5rem;
}

/*.flex_recetas-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}*/
p {
  text-align: center;
  margin: 1rem 2rem 1rem 3rem;
}
.p_recetas {
  align-content: center;
  margin-left: 3 rem;
}

.video_recetas {
  text-align: center;
  margin: 2rem 1rem 1rem 3rem;
}

/***CSS--NOSOTROS***/

.main_nosotros {
  background-color: #de8efa;
}

.nuestroEquipo {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 50px;
  background-color: #fff;
}
.grid_nosotros-personal {
  display: grid;
  grid-template-columns: 250px 400px;
  grid-template-rows: 100px 100px 250px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.img_personal img {
  width: 250px;
  height: 450px;
  grid-column: 1/2;
  background-color: red;
  grid-row: 1/5;
}

.nombre {
  grid-row: 1/2;
  grid-column: 2/3;
  /*background-color: aliceblue;*/
  text-align: center;
  align-self: center;
  justify-self: center;
}

.profesion {
  grid-column: 2/3;
  grid-row: 2/3;
  /*background-color: aqua;*/
  text-align: center;
  align-self: center;
  justify-self: center;
}

.personal-info {
  grid-column: 2/3;
  grid-row: 3/4;
  /*background-color: yellow;*/
  text-align: center;
  align-self: center;
  justify-self: center;
}

/****CSS--F&Q****/

.Titulo-FyQ {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.preguntas {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
  border: #480361 solid 3px;
}

/*****CSS--AYUDA*****/
.body-ayuda {
  background-color: #000;
}
.flex_containerAyuda {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #de8efa;
  margin: 50px 50px;
  padding: 20px;
  border: 8px solid #431d46;
  outline: 3px solid #480361;
}

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
}

.form__input {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #480361;
  background-color: transparent;
  color: rgb(6, 14, 14);
}

.form__input:focus {
  background: linear-gradient(to bottom, transparent, #431d50);
  outline: none;
  border-bottom: 3px solid #431d50;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

.form-img {
  flex: 1;
  padding: 10px;
  display: flex;
  min-width: 200px;
  max-width: 500px;
}

.form-img div {
  padding: 10px;
}

.img-container {
  margin: auto;
}

.img-container div {
  background-color: #de8efa;
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 90%;
  margin: auto;
}

.form input[type="submit"] {
  background-color: #431d50;
  color: #de8efa;
  border-bottom: none;
  padding: 12px;
}

.form input[type="submit"]:hover {
  background-color: #431d46;
  border-bottom: none;
  padding: 12px;
}

.form input[type="submit"]:focus {
  background-color: #431d50;
}

.form input[type="submit"]:active {
  background: linear-gradient(to bottom, #431d50, #2e1330);
}
